.main{
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
}

.posts{
    height: 100%;
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 2.5%;
    display: flex;
    flex-direction: column;

}

#posts_box_titulo{
    display: flex;
    justify-content: center;
}

.posts_titulo{
  animation: amasar 5s ease-in-out infinite;
  margin-bottom: 25px;
  margin-top: 55px;
  display: flex;
  font-size:49px;
}
@keyframes amasar {
    0% {
        transform: scaleX(1) scaleY(1);
        color: #CD853F;
        letter-spacing: 0px;
    }
    25% {
        transform: scaleX(1.1) scaleY(0.8);
        color: #CD853F;
        letter-spacing: 2px;
    }
    35% {
        transform: scaleX(1.2) scaleY(0.7);
        color: #D2691E;
        letter-spacing: 4px; /* Punto máximo de separación - efecto "corte" */
        opacity: 0.9;
    }
    50% {
        transform: scaleX(0.9) scaleY(1.3);
        color: #CD853F;
        letter-spacing: 0px;
        opacity: 1;
    }
    75% {
        transform: scaleX(1.1) scaleY(0.95);
        color: #CD853F;
        letter-spacing: 0px;
    }
    100% {
        transform: scaleX(1) scaleY(1);
        color: #CD853F;
        letter-spacing: 0px;
    }
}

.posts_img {
  position: relative;
  display: flex;
  align-items: center;  
  justify-content: center;
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
  background: transparent; 
  margin-bottom: 20px;
}

.posts_img_config {
  position: relative;
  flex: 0 0 auto;
  width: 260px;
  height: 260px;
  border-radius: 15px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  cursor: pointer;
  z-index: 1;
}

.posts_img_config img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.4s ease, filter 0.4s ease;
}

.posts_img_config:hover {
  transform: scale(0.90);
  box-shadow: 0 10px 23px rgba(0, 0, 0, 0.3);
}


.button_recetas:hover{
  cursor: pointer;
  transform: scale(1.05);
}


.separador_posts{
  background-color: rgb(255, 188, 243);
  padding-bottom: 30px;
  width: 100%;
}

.carrusel-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.carrusel-container {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  width: 100%;
}
.carrusel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(255, 188, 243);
  border: none;
  font-size: 25px;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  z-index: 2;
}
.carrusel-btn:hover {
  background-color: #ffd4f0;
}

.carrusel-btn.prev {
  left: 15px;
}

.carrusel-btn.next {
  right: 15px;
}

.botonrecetas{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background: #D2691E;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 10;
}

