<section class="seccion_change">
    <section class="seccion-activa" id="seccion-posts">
        <section class="posts">
            <section id="posts_box_titulo">
                <h1 class="posts_titulo">
                    <span style="color:rgb(255, 188, 243)">MA</span>
                    <span style="text-decoration:line-through">NOS EN LA MA</span>
                    <span style="color:rgb(255, 188, 243)">SA</span>
                </h1>
            </section>
            
            <section class="posts_img">
                <button class="carrusel-btn prev" (click)="scrollLeft()">&#10094;</button>
                <div class="carrusel-container" #carrusel>
                    <div class="posts_img_config" *ngfor="let receta of recetas; let i = index">
                        <img [src]="receta.imagen" [alt]="receta.nombre" (click)="mostrarBoton(i)">
                        <a [href]="receta.link" target="_blank" class="boton-receta-simple" [class.mostrar]="botonVisible === i">
                            Ver Receta
                        </a>
                
                    </div>
                    <div class="posts_img_config">
                        <img src="\post-avena.jpg" alt="avena">
                        
                    </div>
                    <div class="posts_img_config">
                        <img src="\post-trufas.jpg" alt="trufas">
                        
                    </div>
                    <div class="posts_img_config">
                        <img src="\post-panqueque.jpg" alt="panqueque">
                        
                    </div>
                    <div class="posts_img_config">
                        <img src="\post-tartazuchinni.jpg" alt="tarta">
                        
                    </div>
                    <div class="posts_img_config">
                        <img src="\post-tortaintegral.jpg" alt="torta">
                        
                    </div>
                    <div class="posts_img_config">
                        <img src="\post-pepas-avena.jpg" alt="pepas">
                        
                    </div>
                    <div class="posts_img_config">
                        <img src="\post-zato.jpg" alt="sopa">
                        
                    </div>
                    <div class="posts_img_config">
                        <img src="\post-panqueques.jpg" alt="panqueque">
                       
                    </div>
                    <div class="posts_img_config">
                        <img src="\post-mermelada-frutosrojos.jpg" alt="mermelada">
                        
                    </div>
                    <div class="posts_img_config">
                        <img src="\post-tarta.jpg" alt="tarta">
                        
                    </div>
                    <div class="posts_img_config">
                        <img src="\nutricionistarecetas.png" alt="proximamente">
                    </div>
                    <button class="carrusel-btn next" (click)="scrollRight()">&#10095;</button>
                </div>
            </section>
              
        </section>
    </section>
</section>
<app-footer>
</app-footer>
