body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
}
.label{
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  color: #333;
  font-family: 'Segoe UI', sans-serif;
  
}
.login-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #74ebd5, #ACB6E5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: backgroundShift 3s  alternate forwards infinite ;
  overflow: hidden;
  z-index: 0;
  box-sizing: border-box;
}

.login-card {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 12px 24px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 400px;
  animation: slideUp 0.6s ease-out;
  z-index: 1;
  background-image: url('/card-login1.jpg');
  background-size: cover;
  background-position: center;
}

.login-card h2 {
  margin-bottom: 1.5rem;
  color: #333;
  text-align: center;
}

input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: rgb(255, 165, 249);
  outline: none;
}

button {
  width: 80%;
  padding: 0.7rem;
  margin: 0 10%; 
  background-color: rgb(255, 141, 247);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bolder;
  font-size: 17px;
  margin-bottom: 6px;
}

button:hover {
  background-color: rgb(255, 165, 249);
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes backgroundShift {
  0%, 100% {
    background: linear-gradient(135deg, rgb(255, 188, 243), #B8FFE6);
  }
}
.error {
  color: rgb(190, 0, 0);
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  font-family:'Segoe UI', sans-serif;
}

.error-message {
  color: rgb(190, 0, 0);
  font-weight: bold;
  text-align: center;
  font-family:'Segoe UI', sans-serif;
}
.login-logo {
  width: 60px;

}
.login-header {
  text-align: center;
  margin-bottom: 1rem;
}

