<section class="seccion_change">
  <section class="seccion-activa" id="productos">
    <h2>Catálogo de Productos</h2>
    <div class="producto-card" *ngFor="let producto of productos">
      <img [src]=" producto.imagen" alt="{{ producto.nombre }}" />
      <h3>{{ producto.nombre }}</h3>
      <p>{{ producto.descripcion }}</p>
      <p> Precio: ${{ producto.precio }}</p>
      <p class="precio">${{ producto.precio }}</p>
      <button (click)="agregarAlCarrito(producto)">Agregar al carrito</button>
    </div>
  </section>
</section>
